@page "/usuario/eliminar/{Id:int}"
@using CrudNet6.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager;



<div class="row">
    <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre: @user.Nombre</label>
    </div>

    <div class="mb-3">
        <label for="Nombre" class="form-label">Apellido: @user.Apellido</label>
    </div>

    <div class="mb-3">
        <label for="Nombre" class="form-label">Telefono: @user.Telefono</label>
    </div>

    <div class="mb-3">
        <label for="Nombre" class="form-label">Email: @user.Email</label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="async () => Borrar(user.Id)">Borrar</button>
        <button type="submit" class="btn btn-light" @onclick="() => Cancelar()">Volver</button>
    </div>
</div>




@code {

    [Parameter]
    public int Id { get; set; }
    User user = new User();

    protected async override Task OnInitializedAsync()
    {
        user = await Http.GetFromJsonAsync<User>($"api/User/{Id.ToString()}");
    }

    protected async Task Borrar(int id)
    {
        await Http.DeleteAsync($"/api/User/{id}");
        Cancelar();
    }

    public void Cancelar()
    {
        NavigationManager.NavigateTo("/");
    }

}
